/*----responsive style-----*/
@media(min-width:1280px) and (max-width:1366px) {
	.admin-list-box .widget-panel .counter {
		font-size: 14px;
	}
	.admin-list-box .widget-panel {
		padding: 24px 10px;
	}
	.visit-list {
		font-size: 15px;
		margin-top: 8px;
	}
	}
	@media (min-width: 768px) and (max-width: 980px) {
	/*-*/
	.prd-row .action {
		right: 25px;
	}
	.hr-menu .brand {
		width: 100%;
	}
	.hr-menu .horizontal-menu {
		margin: 10px 0;
	}
	.hr-menu .hr-top-nav {
		margin-top: 10px;
		float: right;
	}
	.media-gal .item {
		width: 100%;
	}
	.media-filter {
		margin: 25px 0;
	}
	/*--Dashboard---*/
	.list-box-3 h2 {
		font-size: 13px;
	}
	.list-box-3 img {
		width: 60px;
	}
	.list-box-3 h4 {
		font-size: 16px;
	}
	.purchse-title h1 {
		font-size: 16px;
		font-weight: 600;
	}
	.purchase-div .btn-art {
		width: 130px;
		font-size: 18px;
	}
	.purchase-bttn .btn-purchase-coin {
		width: auto;
	}
	.user-board-fullwrap {
		padding: 26px 0px;
	}
	.visit-list {
		font-size: 14px;
	}
	.admin-list-box .widget-panel .counter {
		font-size: 26px;
	}
	}
	 @media (min-width: 480px) and (max-width: 767px) {
	.header {
		position: relative! important;
		margin-top: 80px ! important;
	}
	.merge-header {
		margin-right: 0px !important;
	}
	.brand {
		width: 100%;
		float: none;
		position: fixed;
		top: 0px;
		z-index: 1005;
	}
	.sidebar-toggle-box {
		right: 10px;
	}
	.top-nav {
		margin-bottom: 20px;
	}
	.top-menu {
		margin-right: 10px;
	}
	.wrapper {
		margin-top: 0px;
	}
	ul.sidebar-menu {
		margin-top: 0px;
	}
	#sidebar {
		position: fixed !important;
		z-index: 1002;
		top: 80px;
	}
	#main-content {
		margin-left: 0px;
	}
	/*calendar*/
	.fc-button-inner {
		padding: 0;
	}
	/*-*/
	.prd-row .action {
		right: 25px;
	}
	.weather-full-info ul li {
		width: 15.8%;
	}
	.today-status {
		margin-bottom: 10px;
	}
	.hr-toggle {
		background: #32D2C9;
		color: rgba(0, 0, 0, 0.3);
		border-radius: 50%;
		-webkit-border-radius: 50%;
		height: 30px;
		line-height: 0;
		margin-top: -58px;
		position: fixed;
		right: 10px;
		width: 30px;
		z-index: 10000;
	}
	.hr-top-nav {
		display: inline-block;
		float: right;
		margin: 10px 0;
	}
	.horizontal-menu {
		width: 100%;
	}
	.horizontal-menu .navbar-nav > li {
		margin-bottom: 10px;
	}
	.lock-wrapper {
		padding: 0 20px;
	}
	.lock-wrapper img {
		width: 140px;
		height: 140px;
		margin-top: 10px;
	}
	.lock-pwd input {
		width: 70%;
	}
	#time {
		font-size: 100px;
	}
	.media-gal .item {
		width: 100%;
	}
	.media-filter {
		margin: 25px 0;
	}
	.media-filter + .pull-right, .media-filter + .pull-right + .btn {
		float: left !important;
	}
	}
	@media (max-width:767px) {
	/*---Navigation---*/
	.fixed-width #container, .fixed-width #container .header {
		width: 100%;
	}
	#sidebar {
		margin-left: -240px;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	.hide-left-bar {
		margin-left: 0px!important;
	}
	ul.sidebar-menu {
		padding-top: 0px;
	}
	/*-*/
	.prd-row .action {
		right: 25px;
	}
	.lock-wrapper {
		padding: 0 20px;
	}
	.lock-wrapper img {
		width: 140px;
		height: 140px;
		margin-top: 10px;
	}
	.lock-pwd input {
		width: 70%;
	}
	#time {
		font-size: 100px;
	}
	.media-gal .item {
		width: 100%;
	}
	.media-filter {
		margin: 25px 0;
	}
	.media-filter + .pull-right, .media-filter + .pull-right + .btn {
		float: left !important;
	}
	/*--Dashboard---*/
	.list-box-3 {
		margin-bottom: 12px;
	}
	.purchase-coin {
		margin-bottom: 10px;
	}
	.user-details p {
		font-size: 14px;
	}
	.admin-list-box {
		padding: 16px 0;
	}
	.visit-list {
		font-size: 18px;
	}
	.admin-list-box .widget-panel .counter {
		font-size: 24px;
		margin-bottom: 8px;
	}
	.coin-transfer-wrap {
		padding: 16px;
	}
	.coin-transfer-wrap input {
		width: 100%;
	}
	.coin-transfer-padd {
		padding: 0;
	}
	}
	@media (max-width: 479px) {
	/*---Navigation---*/
	body {
		margin-top: 80px !important;
	}
	.header {
		position: relative !important;
	}
	.merge-header {
		margin-right: 0px !important;
	}
	.brand {
		width: 100%;
		float: none;
		position: fixed;
		top: 0px;
		z-index: 1005;
	}
	.sidebar-toggle-box {
		right: 10px;
	}
	.top-nav {
		margin-bottom: 20px;
	}
	.top-menu {
		margin-right: 10px;
	}
	.wrapper {
		margin-top: 0px;
	}
	ul.sidebar-menu {
		margin-top: 0px;
	}
	#sidebar {
		position: fixed !important;
		z-index: 1002;
		top: 80px;
	}
	#main-content {
		margin-left: 0px;
	}
	/*--Dashboard---*/
	.user-board-fullwrap {
		padding: 20px 0;
	}
	.list-box-3 {
		margin-bottom: 12px;
	}
	.purchase-coin {
		margin-bottom: 10px;
	}
	.purchase-div .btn-art {
		width: 100%;
	}
	.purchase-div {
		margin-top: 0px;
	}
	.user-details p {
		font-size: 12px;
	}
	.admin-list-box {
		padding: 16px 0;
	}
	.visit-list {
		font-size: 18px;
	}
	.admin-list-box .widget-panel .counter {
		font-size: 24px;
		margin-bottom: 8px;
	}
	.coin-transfer-wrap {
		padding: 16px;
	}
	.coin-transfer-wrap input {
		width: 100%;
	}
	.coin-transfer-padd {
		padding: 0;
	}
	
	/*--Login--*/
	.login-section{width:100%;}
	.form-logo img{width:100px;}
	.login-section{height:430px;}
	.form-logo{position: static; margin-top: 12px;}
	.login-body .form-group input{padding:8px 6px;}
	.login-body .form-group{margin-bottom: 10px;}
	.btn-login{font-size: 14px;}
	.register-social{display: none;}
	.register-section{height: 505px;}
	.terms-condition{padding-right: 0px;}
	.form-title{font-size: 18px; margin-top: 0;}
	.login-reg{margin-bottom: 12px;}
	.forgot-section{height: 285px;}
	.card .nav-tabs > li > a{width:83px;}
	}
	