/*-------Login -------*/
.login-fullwrap {
	background-image: url(../image/login-bg.jpg);
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: flex;
	align-items: center;
}
.login-div {
	position: relative;
}
.login-section {
	width: 420px;
	background: rgba(255,255,255,1);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;

}
.forgot-section {
	height: 250px;
}
.login-body {
	position: relative;
}
.form-title {
	color: #0e121a;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;
	    margin-top: 45px;
}
.form-logo {
    position: absolute;
    top: -60px;
    margin: auto;
    right: 0;
    left: 0;
}
.form-heading {
	padding: 20px;
}
.social-line {
	margin: 16px 0;
}
.social-line ul {
	list-style-type: none;
}
.social-line ul li {
	display: inline-block;
}
.social-line ul li a {
	font-size: 18px;
	color: #3C4857;
	display: block;
	margin: 0 2px;
}
.social-line ul li a .btn-facebook{
	background-color: #3b5998;
	color: #fff;
	border-radius: 50px;
	height: 36px;
	width: 36px;
	min-width: 36px;
	padding: 11px 8px 8px 8px;
	transition: 0.2s all ease-in-out;
	border:none;
}
.social-line ul li a .fa-facebook:hover {
	background: #274d9e;
}
.social-line ul li a .fa-google-plus {
	background-color: #dd4b39;
	color: #fff;
	height: 36px;
	width: 36px;
	min-width: 36px;
	border-radius: 50px;
	padding: 11px 8px 8px 8px;
	transition: 0.2s all ease-in-out;
	border:none;
}
.social-line ul li a .fa-google-plus:hover {
	background: #e4331e;
}
.social-line ul li a .fa-twitter {
	background-color: #55acee;
	color: #fff;
	border-radius: 50px;
	height: 36px;
	width: 36px;
	min-width: 36px;
	padding: 11px 8px 8px 8px;
	transition: 0.2s all ease-in-out;
	border:none;
}
.social-line ul li a .fa-twitter:hover {
	background: #3ca0ec;
}
.login-body .form-group {
	margin-bottom: 16px;
	position: relative;
}
.login-body .form-group input {
	border: 1px solid #131b25;
	background-color: #ffffff;
	border-radius: 4px;
	width: 100%;
	padding: 8px 6px;
	font-size: 12px;
}
.remeber-me {
	width: 50%;
	position: relative;
	padding-right: 15px;
	float: left;
	text-align: left;
	color: #807e7e;
	font-size: 14px;
}
input[type=checkbox] {
	position: relative;
	cursor: pointer;
	top: 0px;
	margin-left: -1px;
	margin: 0px 6px 5px 0px;
	width: auto !important;
}
input[type=checkbox]:before {
	position: absolute;
	content: '';
	border: 1px solid #131b25;
	width: 15px;
	height: 15px;
	background: #ffffff;
	top: 0px;
	margin-left: -1px;
}
input[type=checkbox]:after {
	content: '✓';
	color: #fff;
	background: #131b25;
	position: absolute;
	top: 0px;
	margin-left: -1px;
	left: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #131b25;
	border-radius: 3px;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	opacity: 0;
	transition: opacity .3s cubic-bezier(.64, .09, .08, 1);
	will-change: opacity;
}
input[type=checkbox]:checked:after {
	opacity: 1;
}
.forgot-pwd {
	text-align: right;
}
.forgot-pwd a {
	font-size: 14px;
	color: #131b25;
	text-transform: capitalize;
	font-weight: 500;
}
.btn-login {
	background: #354660;
	border: none;
	color: #ffffff;
	text-transform: uppercase;
	display: inline-block;
	/* cursor: pointer; */
	padding: 8px 30px;
	border-radius: 6px;
	text-align: center;
	font-size: 14px;
}
.btn-login:hover, .btn-login:focus{color: #ffffff;}
.login-form .account-reg {
	font-size: 14px;
	color: #5d5d5d;
}
.login-form .account-reg a {
	color: #131b25;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 500;
}
.terms-condition {
	width: 100%;
	position: relative;
	padding-right: 15px;
	text-align: left;
	color: #807e7e;
	font-size: 14px;
	margin-bottom: 20px;
}
.terms-condition a{color:#354660; font-weight:600;}
.terms-condition {
	color: #131b25;
}
.login-reg {
	font-size: 14px;
	color: #5d5d5d;
	margin-top: 10px;
}
.login-reg a {
	color: #131b25;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 600;
}
.forgot-bttm {
	margin-top: 20px;
}
.btn-forgot {
	margin-top: 10px;
}
/*--User Dashboard--*/
.fixed-top {
	position: fixed;
	box-shadow: 1px 0 3px rgba(0,0,0,.15);
}
.header {
	left: 0;
	right: 0;
	z-index: 1002;
	background: -moz-linear-gradient(0deg, rgba(0,128,197,1) 0%, rgba(1,92,141,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,128,197,1)), color-stop(100%, rgba(1,92,141,1)));
	background: -webkit-linear-gradient(0deg, rgba(0,128,197,1) 0%, rgba(1,92,141,1) 100%);
	background: -o-linear-gradient(0deg, rgba(0,128,197,1) 0%, rgba(1,92,141,1) 100%);
	background: -ms-linear-gradient(0deg, rgba(0,128,197,1) 0%, rgba(1,92,141,1) 100%);
	background: linear-gradient(90deg, rgba(0,128,197,1) 0%, rgba(1,92,141,1) 100%);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.wrapper {
	display: inline-block;
	margin-top: 80px;
	width: 100%;
	margin-bottom: 40px;
}
.brand {
	background: #0077b7;
	float: left;
	width: 240px;
	height: 80px;
	position: relative;
	border-right: 1px solid #006faa;
}
a.logo {
	font-size: 20px;
    color: #fff;
    float: left;
    margin: 30px 0 0 25px;
	text-transform: uppercase;
	text-decoration: none;
}
.btn-red{background:#f14747 !important; color:#ffffff;}
.referal-link {
    display: inline-block;
    float: right;
	margin-top:10px;
	margin-bottom:13px;
}
.referal-link a{    color: #ffffff;
    background: #171f2c;
    padding: 6px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;}
.referal-title{font-size:16px; text-transform:uppercase;}

.referral-link .table thead tr th, .referral-link .table tbody tr td{text-align:center;}
/*--sidebar toggle---*/
.sidebar-toggle-box {
	float: left;
	margin-top: 23px;
	margin-left: -15px;
	background: #171f2c;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 32px;
	height: 32px;
	position: absolute;
	right: -15px;
}
.sidebar-toggle-box .fa-bars {
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	padding: 8px 8px 8px 9px;
	color: #fff;
}
.sidebar-toggle-box:hover {
	background: #171f2c;
}
.hide-left-bar {
	margin-left: -240px !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.open-right-bar {
	right: 0px !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.merge-left {
	margin-left: 0px !important;
}
.hide-right-bar {
	margin-right: -240px !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.toggle-right-box {
	float: left;
	background: #f6f6f6;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 35px;
	height: 35px;
}
.toggle-right-box:hover {
	background: #ffa2a2;
}
.toggle-right-box:hover .fa-bars {
	color: rgba(0,0,0,0.3);
}
.toggle-right-box .fa-bars {
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	padding: 10px;
	color: #bfbfc1;
}
#top_menu .nav>li, ul.top-menu>li {
	float: left;
}
.notify-row {
	float: left;
	margin-top: 23px;
	margin-left: 25px;
}
ul.top-menu {
	margin-right: 15px;
	margin-top: 0;
}
ul.top-menu > li > a {
	color: #fff;
	font-size: 16px;
	background: #8b5c7e;
	padding: 4px 8px;
	margin-right: 15px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	padding-right: 8px !important;
}
ul.top-menu>li>a:hover, ul.top-menu>li>a:focus {
	background: transparent;
	text-decoration: none;
	color: #fff !important;
	padding-right: 8px !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background: transparent;
	color: #fff !important;
}
.notify-row .badge {
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 100;
}
.dropdown-menu.extended {
	max-width: 320px !important;
	min-width: 160px !important;
	top: 42px;
	width: 300px !important;
	padding: 0 10px;
	box-shadow: 0 0px 5px rgba(0,0,0,0.1) !important;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #fff;
	border: none;
	left: -10px;
}
.notify-row .notification span.label {
	display: inline-block;
	height: 21px;
	padding: 5px;
	width: 22px;
	font-size: 12px;
	margin-right: 10px;
}
.dropdown-menu.extended .alert-icon, .noti-info {
	float: left;
}
.noti-info {
	padding-left: 10px;
	padding-top: 6px;
	color: #414147;
}
.dropdown-menu.extended .alert {
	margin-bottom: 10px;
}
.dropdown-menu.extended .alert-icon {
	border-radius: 100%;
	display: inline-block;
	height: 35px;
	width: 35px;
}
.dropdown-menu.extended .alert-icon i {
	font-size: 16px;
	width: 35px;
	line-height: 35px;
	height: 35px;
}
.dropdown-menu.extended.inbox li a, .dropdown-menu.extended.tasks-bar li a {
	background: #f1f2f7;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
.dropdown-menu.extended li p {
	margin: 0;
	padding: 10px 0;
	border-radius: 0px;
	-webkit-border-radius: 0px;
}
.dropdown-menu.extended li a {
	font-size: 12px;
	list-style: none;
}
.dropdown-menu.extended.logout {
	padding: 10px;
}
.dropdown-menu.extended.logout li a {
	padding: 10px;
}
.dropdown-menu.extended li a:hover {
	color: #32323a;
}
.dropdown-menu.tasks-bar .task-info .desc {
	font-size: 13px;
	font-weight: normal;
	float: left;
	width: 80%;
}
.dropdown-menu.tasks-bar .task-info .desc h5 {
	color: #32323a;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 5px;
	margin-top: 0;
}
.dropdown-menu.tasks-bar .task-info .desc p {
	padding-top: 0;
	color: #8f8f9b;
	font-weight: 300;
}
.dropdown-menu.tasks-bar .task-info .percent {
	width: 20%;
	float: right;
	font-size: 13px;
	font-weight: 600;
	padding-left: 10px;
	line-height: normal;
}
.dropdown-menu.tasks-bar .progress {
	background: #fff;
}
.dropdown-menu.extended .progress {
	margin-bottom: 0 !important;
	height: 10px;
}
.dropdown-menu.inbox li a .photo img {
	border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	float: left;
	height: 40px;
	margin-right: 10px;
	width: 40px;
}
.dropdown-menu.inbox li a .subject {
	display: block;
}
.dropdown-menu.inbox li a .subject .from {
	font-size: 12px;
	font-weight: 600;
}
.dropdown-menu.inbox li a .subject .time {
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
	position: absolute;
	right: 20px;
}
.dropdown-menu.inbox li a .message {
	display: block !important;
	font-size: 11px;
}
.top-nav {
	margin-top: 20px;
}
.top-nav img {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 33px;
}
.top-nav .icon-user i {
	height: 33px;
	width: 33px;
	line-height: 33px;
	display: inline-block;
	font-size: 1.7em;
	padding-left: 10px;
}
.top-nav .icon-user .username {
	color: #555555;
	font-size: 13px;
	position: relative;
	top: -5px;
}
.top-nav .icon-user .caret {
	position: relative;
	top: -4px;
}
.top-nav ul.top-menu>li .dropdown-menu.logout {
	width: 170px !important;
}
.top-nav li.dropdown .dropdown-menu {
	float: right;
	right: 0;
	left: auto;
}
.dropdown-menu.extended.logout>li {
	float: left;
	width: 100%;
}
.log-arrow-up {
	/* background: url(../image/top-arrow.png) no-repeat; */
	width: 18px;
	height: 10px;
	margin-top: -20px;
	float: right;
	margin-right: 15px;
}
.dropdown-menu.extended.logout>li>a {
	border-bottom: none !important;
}
.full-width .dropdown-menu.extended.logout>li>a:hover {
	background: #F1F2F7 !important;
	color: #32323a !important;
}
.dropdown-menu.extended.logout>li>a:hover {
	background: #F1F2F7 !important;
	border-radius: 5px;
}
.dropdown-menu.extended.logout>li>a:hover i {
	color: #ffa2a2;
}
.dropdown-menu.extended.logout>li>a i {
	font-size: 17px;
}
.dropdown-menu.extended.logout>li>a>i {
	padding-right: 10px;
}
.top-nav .username {
	font-size: 13px;
	color: #fff;
}
.top-nav ul.top-menu>li>a {
	border-radius: 100px;
	-webkit-border-radius: 100px;
	padding: 0px;
	background: none;
	margin-right: 0;
	background: transparent;
}
.top-nav ul.top-menu>li.language>a {
	margin-top: -2px;
	padding: 4px 12px;
	line-height: 20px;
}
.top-nav ul.top-menu>li.language>a img {
	border-radius: 0;
	-webkit-border-radius: 0;
	width: 18px;
}
.top-nav ul.top-menu>li.language ul.dropdown-menu li img {
	border-radius: 0;
	-webkit-border-radius: 0;
	width: 18px;
}
.top-nav ul.top-menu>li {
	margin-left: 10px;
}
.top-nav ul.top-menu>li>a:hover, .top-nav ul.top-menu>li>a:focus {
	background: transparent !important;
}
.top-nav .dropdown-menu.extended.logout {
	top: 50px;
}
.top-nav .nav .caret {
	border-bottom-color: #A4AABA;
	border-top-color: #A4AABA;
}
.top-nav ul.top-menu>li>a:hover .caret {
	border-bottom-color: #000;
	border-top-color: #000;
}
/*--Navigation--*/
#sidebar {
	width: 240px;
	height: 100%;
	position: fixed;
	background: #171f2c;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#sidebar ul li {
	position: relative;
}
.leftside-navigation, .right-stat-bar {
	height: 100%;
}
.right-stat-bar ul {
	list-style-type: none;
	padding-left: 0;
}
/*LEFT NAVIGATION ICON*/
.dcjq-icon {
	height: 17px;
	width: 17px;
	display: inline-block;
	/* background: url(../image/nav-expand.png) no-repeat top; */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	position: absolute;
	right: 10px;
}
.active .dcjq-icon {
	/* background: url(../image/nav-expand.png) no-repeat bottom; */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.right-side-accordion .dcjq-icon {
	height: 17px;
	width: 17px;
	display: inline-block;
	/* background: url(../image/acc-expand.png) no-repeat top; */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	position: absolute;
	right: 10px;
}
.right-side-accordion .active .dcjq-icon {
	/* background: url(../image/acc-expand.png) no-repeat bottom; */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.right-side-accordion li:nth-child(2) ul li .prog-row {
	border: none;
}
/*---*/
.nav-collapse.collapse {
	display: inline;
}
ul.sidebar-menu, ul.sidebar-menu li ul.sub {
	margin: -2px 0 0;
	padding: 0;
}
ul.sidebar-menu {
	padding-top: 80px;
}
#sidebar>ul>li>ul.sub {
	display: none;
}
#sidebar .sub-menu>.sub li a {
	padding-left: 46px;
}
#sidebar>ul>li.active>ul.sub, #sidebar>ul>li>ul.sub>li>a {
	display: block;
}
ul.sidebar-menu li ul.sub li {
	background: rgba(52, 48, 48, 0);
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}
ul.sidebar-menu li ul.sub li a {
	font-size: 12px;
	padding-top: 13px;
	padding-bottom: 13px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: #fff;
}
ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: block;
	background: rgba(40, 40, 46, 0.28);
}
ul.sidebar-menu li {
	border-bottom: 1px solid rgba(255,255,255,0.05);
}
ul.sidebar-menu li.sub-menu {
	line-height: 15px;
}
ul.sidebar-menu ul.sub li {
	border-bottom: none;
}
ul.sidebar-menu li a span {
	display: inline-block;
	margin-left: 8px;
	vertical-align: middle;
}
ul.sidebar-menu li a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 12px 0 12px 22px;
	font-size: 16px;
	outline: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: normal;
}
ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
	background: rgba(86, 108, 144, 1);
	color: #fff;
	display: block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
ul.sidebar-menu li a i {
	font-size: 15px;
	padding-right: 6px;
}
ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
	color: #fff;
}
ul.sidebar-menu li a.active i {
	color: #fff;
}
.mail-info, .mail-info:hover {
	margin: -3px 6px 0 0;
	font-size: 11px;
}
/*main content*/
#main-content {
	margin-left: 240px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.dashboard-title {
	background: #ffffff;
	padding: 12px 30px;
	-webkit-box-shadow: -4px 2px 4px 0px rgba(209, 209, 209, 0.75);
	-moz-box-shadow: -4px 2px 4px 0px rgba(209, 209, 209, 0.75);
	box-shadow: -4px 2px 4px 0px rgba(209, 209, 209, 0.75);
}
.dashboard-title h1 {
	margin: 0;
	color: #4b4b4b;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 500;
}
.user-board-fullwrap {
	padding: 18px 15px;
	width: 100%;
	float: left;
}
.list-box-3 {
	background: #374864;
	text-align: center;
	padding: 6px;
}
.list-box-3 h2 {
	color: #fffefe;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 12px 0;
}
.list-box-3 h4 {
	color: #fffefe;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 12px 0;
}
.transaction-title {
	margin: 30px 0;
}
.transaction-title h1 {
	position: relative;
	font-size: 18px;
	color: #4b4b4b;
	text-transform: uppercase;
	padding-bottom: 16px;
}
.transaction-title h1:before {
	position: absolute;
	content: '';
	background: #cccccc;
	height: 2px;
	width: 100%;
	bottom: 0;
}
.transaction-title h1:after {
	position: absolute;
	content: '';
	background: #171f2c;
	height: 2px;
	width: 100%;
	bottom: -1px;
	left: 0;
}
.purchase-coin {

	background: #ffffff;
	-webkit-box-shadow: -4px 2px 14px 0px rgba(189, 189, 189, 0.75);
	-moz-box-shadow: -4px 2px 14px 0px rgba(189, 189, 189, 0.75);
	box-shadow: -4px 2px 14px 0px rgba(189, 189, 189, 0.75);
}
.purchse-title {
	background: #374864;
    padding: 16px;
}
.purchse-title h1 {
	font-size: 18px;
	color: #ffffff;
	margin: 0;
	text-transform: uppercase;
}
.purchase-body {
	padding: 20px;
}
/* .purchase-div {
	margin-top: 32px;
} */
.purchase-div select{width:100%;}
.purchase-div .btn-art {
	background: #e4a609;
	display: block;
	width: 130px;
	color: #ffffff;
	border-radius: 0;
	margin: 20px 0;
	font-size: 22px;
}
.purchase-div input {
	padding: 12px;
}
.purchase-bttn {
	margin-top: 20px;
	text-align: center;
}
.purchase-bttn .btn-purchase-coin {
	background: #374864;
	width: 200px;
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	border-radius: 0px;
}
.dark-b {
	background: #374864;
}
.user-profile {
	display: flex;
	align-items: flex-start;
	padding: 6px 12px;
	border-bottom: 1px solid #dddddd;
}
.user-avatar {
	width: 40px;
	height: 40px;
	display: flex;
	position: relative;
	overflow: hidden;
	font-size: 1.25rem;
	flex-shrink: 0;
	align-items: center;
	user-select: none;
	border-radius: 50%;
	justify-content: center;
	margin-right: 8px;
}
.user-body {
	padding: 0;
}
.user-details {
	align-self: center!important;
}
.user-details h5 {
	font-size: 16px;
	color: #4b4b4b;
	margin: 0;
}
.user-details p {
	color: #6e6d6d;
	font-size: 14px;
	margin: 3px 0;
	line-height: 20px;
}
.user-details span {
	display: block;
	color: #374864;
}
/*-- mystyle--*/
.admin-list-box {
	padding: 30px 16px 0;
}
.admin-list-box .widget-panel {
	margin-bottom: 20px;
	position: relative;
	border-radius: 4px;
	padding: 40px 20px;
	color: #ffffff;
	padding-left: 16px;
}
.visit-list {
	font-size: 20px;
	color: #fefefe;
}
.admin-list-box .widget-panel .counter {
	font-size:20px;
	margin: 0;
	color: #fefefe;
}
.widget.states-mdl {
	margin: 0 2%;
}
.bg-pink {
	background: #f06088;
}
.bg-purple {
	background-color: #7d7ab6;
}
.bg-info {
	background-color: #45b6e1;
}
.bg-success {
	background-color: #58c386;
}
.bg-red {
	background-color: #ff4a43;
}
.bg-dpink {
	background-color: #e91e63;
}
.bg-blue {
	background-color: #1f88e5;
}
.bg-orange {
	background-color: #ff5722;
}
.coin-transfer-wrap {
	background: #ffffff;
	-webkit-box-shadow: -2px 4px 20px 0px rgba(221, 221, 221, 0.75);
	-moz-box-shadow: -2px 4px 20px 0px rgba(221, 221, 221, 0.75);
	box-shadow: -2px 4px 20px 0px rgba(221, 221, 221, 0.75);
	padding: 30px;
}
.coin-transfer-wrap label {
	font-size: 18px;
	color: #4b4b4b;
	text-transform: uppercase;
	font-weight: 500;
}
.coin-transfer-wrap input {
	width: 615px;
	padding: 22px 12px;
}
.coin-transfer-wrap .btn-send {
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 8px 40px;
	border-radius: 0px;
}
.coin-transfer-wrap .send-btn-bttm {
	margin-bottom: 0px;
}
.m_top3 {
	margin-top: 30px;
}
.token-transfer-box {
	background: #ffffff;
	padding: 30px;
	-webkit-box-shadow: -2px 4px 20px 0px rgba(221, 221, 221, 0.75);
	-moz-box-shadow: -2px 4px 20px 0px rgba(221, 221, 221, 0.75);
	box-shadow: -2px 4px 20px 0px rgba(221, 221, 221, 0.75);
}
.mtop40 {
	margin-top: 40px !important;
}
.form-group {
	margin-bottom: 20px;
}
.token-transfer-box .form-group label {
	font-size: 16px;
	color: #000000;
	text-transform: uppercase;
	font-weight: normal;
}
.token-transfer-box .form-group input {
	width: 400px;
}
.btn-send, .btn-send:hover, .btn-send:focus {
	background: #37474f;
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
}
.padding_zero {
	padding: 0px;
}
.padding_20 {
	padding: 25px;
}
.admin-content {
	    padding: 18px 30px;}
.data-menchorcoin {
	margin-top: 10px;
}
.card .nav-tabs {
	border-bottom: 1px solid rgb(25, 32, 45);
}
.card .nav-tabs > li.active > a, .card .nav-tabs > li.active > a:hover, .card .nav-tabs > li.active > a:focus{background:#2980b9;  border-radius:0px; color:#ffffff; }
.card .nav-tabs > li > a{text-transform:uppercase; font-size:14px; width:150px; text-align:center; border-bottom: 1px solid rgb(25, 32, 45); color:#000000;}
.tab-content > .active {
	display: block;
}
.tab-pane {
	padding: 15px 0;
}
.table-responsive {
	min-height: .01%;
	overflow-x: auto;
}
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
table {
	background-color: transparent;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
.data-menchorcoin .table-responsive .table thead {
	background: #2980b9 !important;
}
.data-menchorcoin .table-responsive .table thead th {
	color: #ffffff;
	padding: 12px;
	font-size: 16px;
	border: none;
	font-weight: normal;
	vertical-align: middle;
	border-right: 1px solid #dddddd;
	text-align: center;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
.data-menchorcoin .table-responsive .table tbody td {
	font-size: 14px;
	padding: 4px;
	border: none;
	text-align: center;
	border-right:1px solid #dddddd;
}
.menchor-wallet-id {
	background: #ffffff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
.copyclip{position: absolute;
    right: 0;
    top: 0;
    background: #a57405;
    padding:14px 20px;
    color: #ffffff;
    cursor: pointer;
	font-size: 16px;
}
.menchor-wallet-id .copyclip span{color:#ffffff;}
.menchor-wallet-id p {
	font-size: 14px;
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
}
.menchor-wallet-id span {
	color: #213262;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: none;
	margin-left: 6px;
}
table tbody tr:nth-child(even) {
	background: #e9e9e9;
}
table tbody tr:nth-child(odd) {
	background: #ffffff;
}


/*----Admin Dashboard Burn Tokens popup----*/
.burn-token-popup {
	position: fixed;
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1002;
}
.burn-token-div {
	background: rgba(255,255,255,1);
	width: 500px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 270px;
}
.burn-token-div h1 {
	margin: 0;
	text-align: center;
	background: rgba(33,50,98,1);
	color: #ffffff;
	padding: 16px;
	font-size: 22px;
	text-transform: uppercase;
}
.burn-body-cont {
	padding: 28px;
	text-align: center;
}
.burn-body-cont .form-group label {
	font-size: 22px;
	margin-bottom: 12px;
	font-weight:500;
}
.burn-body-cont .form-group input {
	width: 100%;
	display: block;
	border: 1px solid #dddddd;
	padding: 12px 6px;
}
.btn-cancel, .btn-confirm, .btn-cancel:hover, .btn-cancel:focus, .btn-confirm:hover, .btn-confirm:focus {
	font-size: 16px;
	margin: 0 6px;
	color: #ffffff;
	border: 1px solid transparent;
	border-radius: 0px;
	padding: 5px 25px;
}
.btn-cancel {
	background: #015c8d;
	font-size: 16px;
	text-transform: uppercase;
}
.btn-confirm {
	background: #015c8d;
	font-size: 16px;
	text-transform: uppercase;
}

/*-----Reset Password-------*/
.reset-password-wrap {
}
.reset-password-wrap .modal {
	background: rgba(0,0,0,0.7);
}
.reset-password-wrap .modal .modal-dialog {
	width: 460px;
}
.reset-password-wrap .reset-password input {
	width: 100%;
	padding: 8px 6px;
	border: 1px solid #dddddd;
}
.reset-password-wrap .modal .modal-body {
	padding: 15px 15px 0 15px;
	overflow: hidden;
}
.btn-resent, .btn-resent:hover, .btn-resent:focus {
	background: #171f2c;
	color: #ffffff;
	font-size: 16px;
	padding: 6px 12px;
	width: 140px;
}
.reset-password-wrap .modal .modal-footer {
	text-align: center;
	border-top: none;
}
.reset-password-wrap .modal .modal-header {
	background: #0096ff;
	color: #ffffff;
}
.reset-password-wrap .modal .modal-header .close {
	color: #ffffff;
	opacity: 1;
}
.reset-password-wrap .modal-content {
	border-radius: 0px;
}

.modal-backdrop{position: static;}
.loader-pre{background:rgba(0,0,0,0.6); width: 100%; height: 100%; position: absolute;}
.ringLoader{
    position: absolute;
    width: 75px;
    height: 75px;
    left: 0;
    right: 0;
    margin: 2px;
    top: 0;
    bottom: 0;
}

/*----popup---*/
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: rgba(0,0,0, 0.5);
	z-index: 999;
  }
  .popup_inner {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin: auto;
	width:400px;
	background: white;
	z-index: 1;
	height: 180px;
	overflow: hidden;
  }
  .popup_inner-burn {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin: auto;
	width:400px;
	background: white;
	z-index: 1;
	height: 190px;
	overflow: hidden;
  }
  .height{height: 260px;}
  .popup_inner h1{
		padding: 10px;
		background: #0096ff;
		position: relative;
		color: #ffffff;
		text-align: center;
		font-size: 18px;
		text-transform: uppercase;
  }
  .popup_inner_body{padding:16px;}
  .popup_inner_body label{ font-size: 14px; font-weight: 400; text-transform: uppercase; margin-top: 5px;}
  .popup_inner_body input{width:100%; padding:8px 12px; border:1px solid #dddddd; margin-top:8px;}
  .popup_inner_body button{background: #0096ff;
	color: #ffffff;
	border: none;
	margin-right: 7px;
	padding: 6px 12px;
	margin-top: 11px;
	text-align: center;
	font-size: 16px;
	width: 100px;
	text-transform: capitalize;}
	.bttn{text-align: center;}
	.popup_inner_body .form-group{margin-bottom: 10px; position: relative;}
.disabled{cursor: not-allowed;}


/*---loader--*/



/* 
.cssload-triangles {
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
	height: 79px;
	width: 88px;
	position: absolute;
	left: 50%;
}

.cssload-tri {
	position: absolute;
	animation: cssload-pulse 862.5ms ease-in infinite;
		-o-animation: cssload-pulse 862.5ms ease-in infinite;
		-ms-animation: cssload-pulse 862.5ms ease-in infinite;
		-webkit-animation: cssload-pulse 862.5ms ease-in infinite;
		-moz-animation: cssload-pulse 862.5ms ease-in infinite;
	border-top: 26px solid rgb(33,90,109);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 0px;
}
.cssload-tri.cssload-invert {
	border-top: 0px;
	border-bottom: 26px solid rgb(33,90,109);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}
.cssload-tri:nth-child(1) {
	left: 29px;
}
.cssload-tri:nth-child(2) {
	left: 15px;
	top: 26px;
	animation-delay: -143.75ms;
		-o-animation-delay: -143.75ms;
		-ms-animation-delay: -143.75ms;
		-webkit-animation-delay: -143.75ms;
		-moz-animation-delay: -143.75ms;
}
.cssload-tri:nth-child(3) {
	left: 29px;
	top: 26px;
}
.cssload-tri:nth-child(4) {
	left: 44px;
	top: 26px;
	animation-delay: -718.75ms;
		-o-animation-delay: -718.75ms;
		-ms-animation-delay: -718.75ms;
		-webkit-animation-delay: -718.75ms;
		-moz-animation-delay: -718.75ms;
}
.cssload-tri:nth-child(5) {
	top: 53px;
	animation-delay: -287.5ms;
		-o-animation-delay: -287.5ms;
		-ms-animation-delay: -287.5ms;
		-webkit-animation-delay: -287.5ms;
		-moz-animation-delay: -287.5ms;
}
.cssload-tri:nth-child(6) {
	top: 53px;
	left: 15px;
	animation-delay: -287.5ms;
		-o-animation-delay: -287.5ms;
		-ms-animation-delay: -287.5ms;
		-webkit-animation-delay: -287.5ms;
		-moz-animation-delay: -287.5ms;
}
.cssload-tri:nth-child(7) {
	top: 53px;
	left: 29px;
	animation-delay: -431.25ms;
		-o-animation-delay: -431.25ms;
		-ms-animation-delay: -431.25ms;
		-webkit-animation-delay: -431.25ms;
		-moz-animation-delay: -431.25ms;
}
.cssload-tri:nth-child(8) {
	top: 53px;
	left: 44px;
	animation-delay: -575ms;
		-o-animation-delay: -575ms;
		-ms-animation-delay: -575ms;
		-webkit-animation-delay: -575ms;
		-moz-animation-delay: -575ms;
}
.cssload-tri:nth-child(9) {
	top: 53px;
	left: 58px;
	animation-delay: -575ms;
		-o-animation-delay: -575ms;
		-ms-animation-delay: -575ms;
		-webkit-animation-delay: -575ms;
		-moz-animation-delay: -575ms;
}


@keyframes cssload-pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes cssload-pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes cssload-pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes cssload-pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes cssload-pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
} */

.art-loader{
	position: fixed;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
	left: 0;
	z-index: 1;
}
.loader {
	position: absolute;
	width: 40px;
	height: 40px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
  }
  .loader .circle {
	position: absolute;
	width: 38px;
	height: 38px;
	opacity: 0;
	transform: rotate(225deg);
	animation-iteration-count: infinite;
	animation-name: orbit;
	animation-duration: 5.5s;
  }
  .loader .circle:after {
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	background: #fff;
	/* Pick a color */
  }
  .loader .circle:nth-child(2) {
	animation-delay: 240ms;
  }
  .loader .circle:nth-child(3) {
	animation-delay: 480ms;
  }
  .loader .circle:nth-child(4) {
	animation-delay: 720ms;
  }
  .loader .circle:nth-child(5) {
	animation-delay: 960ms;
  }
  @keyframes orbit {
	0% {
	  transform: rotate(225deg);
	  opacity: 1;
	  animation-timing-function: ease-out;
	}
	7% {
	  transform: rotate(345deg);
	  animation-timing-function: linear;
	}
	30% {
	  transform: rotate(455deg);
	  animation-timing-function: ease-in-out;
	}
	39% {
	  transform: rotate(690deg);
	  animation-timing-function: linear;
	}
	70% {
	  transform: rotate(815deg);
	  opacity: 1;
	  animation-timing-function: ease-out;
	}
	75% {
	  transform: rotate(945deg);
	  animation-timing-function: ease-out;
	}
	76% {
	  transform: rotate(945deg);
	  opacity: 0;
	}
	100% {
	  transform: rotate(945deg);
	  opacity: 0;
	}
  }

.loader-spinner{
	position: fixed;
width:100%;
 height: 100%; 
 background:rgba(0,0,0,0.1);
}
.cssload-triangles{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 50px;
    height: 50px;
    margin: auto;

}
.login-errormsg{position: absolute;
    width: 300px;
    overflow: hidden;
    left: 0;
    right: 0;
    padding: 3px;
	margin: auto; bottom: 25%;}
	.login-errormsg h6{ margin: 0;}	
	.form__field{   
		position: absolute;
		text-align: left;
		font-size: 12px;
		top: 100%;
		color: #ff0000 !important;
		display: block;
		padding: 2px 0px;
		z-index: 1;
	}
	
		.widget-last-box .visit-list{line-height: 16px;}
		.popup_inner h1{margin: 0;}
		.widget-last-box{cursor:pointer;}
		.data-menchorcoin .table-responsive .table thead.text-cent th{text-align: center;}
		.data-menchorcoin .table-responsive .table tbody.text-cent td{text-align: center;}
		.disabled{cursor:not-allowed; opacity: 0.8;}

.form-div-error{
	padding-top: 2px;
    position: absolute;
    text-align: left;
	font-size: 12px;
	color:red
}

.pos-clicklogin{
	position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 50px;
    width: 200px;
}

.intl-tel-input{  display: block !important;
    border-radius: 4px;
    width: 100%;
    padding: 0px 0px;
    font-size: 12px;
	margin-bottom: 16px;}
	.intl-tel-input input{border: 1px solid #131b25;}

	.reset-password-sig{background-image: url(../image/login-bg.jpg);
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-attachment: fixed;
		background-position: center center; position: fixed; width: 100%; height: 100%;     display: flex;
		align-items: center;}
	.reset-pass{background:#ffffff; width:500px; margin: auto; position: absolute; right: 0; left: 0;}
	.reset-head{background: #0096ff; color:#ffffff;}
	.reset-head h1{color:#ffffff; padding: 15px; border-bottom: 1px solid #e5e5e5; margin: 0; font-size: 16px;}
	.reset-pass-body{padding: 15px;}
	.reset-pass-body .form-group input {
		width: 100%;
		padding: 8px 6px;
		border: 1px solid #dddddd;
		outline: none;
	}
	.submit-bttn-form{text-align: center;}
	.submit-bttn-form .btn-resent, .submit-bttn-form .btn-resent:focus{outline: none;}
	.data-menchorcoin .table-responsive .table tbody.text-cent td button{width:80px;}
.green, .green:hover, .green:focus{background:#05b105 !important; color:#ffffff;}
.red, .red:hover, .red:focus{background:#ff0000 !important;  color:#ffffff;}
/* .red, .yellow:hover, .yellow:focus{background:#d2a91c !important;  color:#ffffff;} */
.user-body ul li{padding:12px;}
.pos-img{position: absolute;
    right: 0;
    background: rgba(0,0,0,0.1);
    padding: 16px 12px;
    top: 0;
	overflow: hidden;}
	.list-box-4{overflow: hidden;}

	
	.purchase-div h1{font-size: 16px; margin-bottom: 15px;}
	/*radio button*/
	[type="radio"]:checked,
	[type="radio"]:not(:checked) {
		position: absolute;
		left: -9999px;
	}
	[type="radio"]:checked + label,
	[type="radio"]:not(:checked) + label
	{
		position: relative;
		padding-left: 28px;
		cursor: pointer;
		line-height: 20px;
		display: inline-block;
		color: #666;
	}
	[type="radio"]:checked + label:before,
	[type="radio"]:not(:checked) + label:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 18px;
		height: 18px;
		border: 1px solid #374864;
		border-radius: 100%;
		background: #fff;
	}
	[type="radio"]:checked + label:after,
	[type="radio"]:not(:checked) + label:after {
		content: '';
		width: 12px;
		height: 12px;
		background: #374864;
		position: absolute;
		top: 3px;
		left: 3px;
		border-radius: 100%;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}
	[type="radio"]:not(:checked) + label:after {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	[type="radio"]:checked + label:after {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}